$AzulEscuro: #0E2941;
$CinzaBorda: #b4b4b4;
$Branco: #FFFFFF;

.user-items{
    display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  margin-left: 300px;
  gap: 10px;

  .user-content {
    overflow-y: auto;
    padding: 20px;
  }

  .user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: $Branco;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

    .left-side {
        display: flex;
    }
    .right-side {
        display: flex;
    }

    .user-item-names {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;

        .user-item-name {
            font-size: 20px;
            font-weight: bold;
            color: $AzulEscuro;
        }

        .user-item-username{
            font-size: 12px;
        }
    }
  }
}

.explore-title {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

    .title-typo {
        font-weight: bold;
        font-size: 20px;
    }
}