
$AzulCeleste: #79B8F3;
$AzulClaro: #AED9F7;
$AzulPrussiaSuave: #467396;
$Branco: #FFFFFF;
$CinzaClaro: #F2F2F2;
$CinzaMaisClaro: #EBEBEB;
$CinzaMeioClaro: #585858;

$AzulPrussia: #004953;
$AzulEscuro: #0E2941;
$AzulMedio: #1D536B;
$CianoEscuro: #006E8C;
$CinzaEscuro: #333333;

body {
    background-color: $CinzaMeioClaro;
}