$CinzaClaro: #F2F2F2;
$CinzaMeioClaro: #585858;

.reply {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reply-button {
    border: none;
    background-color: $CinzaClaro;
    cursor: pointer;

    &:hover {
        color: $CinzaMeioClaro;
    }
}